@media (max-width: 1080px) {
    header#header .page-title h1 {
        font-size: 26px;
    }
    header#header .page-title h3 {
        font-size: 16px;
    }
    #menu-box .nav .menu-item {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 3px;
    }
    #menu-box .nav .menu-item a {
        font-size: 14px;
        line-height: 1.25;
    }
    header#header .header-contact {
        padding-top: 20px;
    }
}
@media (max-width: 1024px) {
    header#header .logo {
        margin-right: 20px;
    }
    header#header .page-title h1 {
        font-size: 22px;
    }
    header#header .page-title h3 {
        font-size: 14px;
    }
    .header-contact > a {
        width: 160px;
        height: 34px;
        font-size: 14px;
        line-height: 36px;
    }
    .social-icons span {
        margin-left: 0px;
        font-size: 14px;
        line-height: 2;
    }
    #menu-box .nav .menu-item {
        padding-left: 5px;
        padding-right: 5px;
    }
    #content-top .wrap-content-top {
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .wrap-list-service-top .item {
        margin-top: 15px;
        height: 70px;
    }
    .box-title {
        padding-bottom: 5px;
        margin-bottom: 25px;
    }
    .box-title .title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .box-title p {
        font-size: 16px;
    }
    /*  */

    .item-product .box-main-image .name-product a {
        font-size: 20px;
    }
    #wrap-maintenance .list-maintenance .item-service.content{
        padding: 0 10px;
    }
    .list-maintenance .item-service.content a {
        font-size: 20px;
    }
    .list-blog-child .item-blog .box-image {
        height: 240px;
    }
}
@media (max-width: 768px) {
    header#header .page-title h1 {
        font-size: 18px;
    }
    header#header .header-contact{
        display: none;
    }
    #menu-box{
        display: none;
    }
    #wrap-maintenance .list-maintenance .item-service.content{
        min-height: 350px;
    }
    .list-blog-child .item-blog .box-image {
        height: auto;
    }
    .footer-last .social-icons {
        text-align: left;
    }
    ul.popup-contact{
        display: none;
    }

    /*  */
    .bottom-contact {
        display: block;
        position: fixed;
        bottom: 0;
        background: white;
        width: 100%;
        z-index: 99;
        box-shadow: 2px 1px 9px #dedede;
        border-top: 1px solid #eaeaea;
    }
    .bottom-contact ul li {
        width: 25%;
        float: left;
        list-style: none;
        text-align: center;
        font-size: 13.5px;
    }
    .bottom-contact ul li img,
    .bottom-contact ul li .icon-bar {
        width: 35px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .bottom-contact ul li .icon-bar{
        height: 28.4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bottom-contact ul li .icon-bar i{
        color: black;
        font-size: 20px;
    }
    .bottom-contact ul li span {
        color: black;
        font-size: 11px;
    }
    /* menu */
    .mm-menu_offcanvas {
        z-index: 100;
        display: block;
        left: 0;
        transform: translateX(-100%);
        transition: all .3s;
    }
    .mm-menu_offcanvas.mm-menu_opened{
        transform: translateX(0);
        transition: all .3s;
    }
    .mm-wrapper_blocking .mm-page__blocker{
        background: transparent;
    }
    .mm-wrapper_blocking .mm-page__blocker::before {
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        background: rgb(0 0 0 / 55%);
    }

    #close-nav{
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        width: 60px;
        height: 38px;
        padding-top: 2px;
        align-items: center;
        justify-content: center;
        z-index: 111;
        background-color: #f3f3f3;
    }
    .mm-slideout{
        min-height: auto!important;
        z-index: 10;
    }
    .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout {
        transform: unset;
        min-height: auto!important;
    }
    .wrap-image-product #slide-item-product-detail .owl-nav button {
        opacity: 1;
        visibility: visible;
    }
    .wrap-video .title {
        font-size: 20px;
        margin-bottom: 15px;
        padding-bottom: 20px;
    }
    .wrap-video .item-video-list {
        padding-top: 300px;
        margin-bottom: 20px;
    }
    .wrap-list-service-top .item span {
        font-size: 16px;
    }
    #wrap-website .box-title .title {
        font-size: 26px;
        line-height: 1.45;
    }
    .item-website .title{
        margin-top: 15px;
    }
    /*  */
}
@media (min-width: 550px){
    .mm-slideout{
        min-height: auto!important;
    }
    .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout {
        transform: unset;
        min-height: auto!important;
    }
}
/* end menu */
@media (max-width: 540px) {
    header#header .page-title{
        display: none;
    }
    header#header .logo{
        margin: 0;
    }
    header#header>.container {
        justify-content: center;
    }
    #wrap-blog .wrap-slide-bolg .item .box-image {
        height: 250px;
    }
    #wrap-blog .wrap-slide-bolg .item .title-slide {
        font-size: 16px;
        padding: 5px 15px 30px;
    }
    .wrap-logo-footer{
        flex-direction: column;
        align-items: center;
    }
    #wrap-website .box-title .title {
        font-size: 22px;
    }
    #wrap-website .box-title p {
        font-size: 14px;
        line-height: 1.4;
        margin: 10px 0 0 0;
    }
    .tab-rate .nav-item.nav-link{
        font-size: 14px;
    }
}
@media (max-width: 375px) {
    #wrap-blog .wrap-slide-bolg .item .box-image {
        height: 200px;
    }
}
@media (max-width: 1600px) {}