

:root {
    --color-main: #97400C;
    --width-container: 1170px;
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    /* color: var(--color-text); */
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: var(--font-normal);
    line-height: 1.33;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}


.m-100 {
    margin-top: 100px!important;
}
.mt-80{
    margin-top: 80px!important;
}
.mb-80{
    margin-bottom: 80px!important;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: var(--width-container);
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.font-bold {
    font-family: var(--font-bold);
}

.bg-white {
    background-color: white;
}

.color-main {
    color: var(--color-main) !important
}

.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}

.btn.btn-color-main {
    background-color: #AD5036;
    ;
    color: #FFF;
}

.btn.btn-color-main:hover {
    opacity: .8;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

header#header{
    padding: 10px;
}
header#header>.container{
    align-items: center;
    justify-content: space-between;
}
header#header .logo{
    min-width: max-content;
    margin-right: 30px;
}
header#header .logo img{
    max-width: 160px;
}
header#header .wrap-logo-title{
    display: flex;
    align-items: center;

}
header#header .page-title h1{
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    color: #EC1B2F;
    margin: 0;
    font-weight: 700;
}
header#header .page-title h3{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
}
header#header .header-contact {
    padding-top: 35px;
}
.header-contact > a {
    position: relative;
    display: block;
    width: 194px;
    height: 40px;
    background: linear-gradient(107.45deg, #FF0000 -9.86%, #AD0000 21.62%, #FF0000 48.7%, #C70000 76.41%, #FF0000 111.05%);
    border-radius: 15px;
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
}
.header-contact > a:before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    left: -5px;
    top: -5px;
    border-radius: 15px;
    background: #18E806;
}
.social-icons a {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}
.social-icons span {
    display: inline-block;
    margin-left: 10px;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
    vertical-align: middle;
    font-weight: bold;
}

/* menu  */
#menu-box{
    background: #ec1b2f;
    color: #FFF;
    z-index: 1100;
    transition: all .3s;
}
#menu-box a{
    color: #FFFFFF;
}

#menu-box .nav{
    flex-wrap: nowrap;
}
#menu-box .nav .menu-item{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 7px;
}
#menu-box .nav .menu-item a{
    font-size: 16px;
    line-height: 19px;
}
#menu-box .nav>.menu-item .nav-top-link i{
    font-size: 11px;
    margin-left: 3px;
}
#menu-box .nav>.menu-item a{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .02em;
    padding: 10px 0;
    /* min-width: max-content; */
}
#menu-box .nav .sub-menu{
    position: absolute;
    min-width: 260px;
    max-height: 0;
    z-index: 9;
    padding: 20px 0 20px;
    opacity: 0;
    margin: 0;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    color: #777;
    background-color: #fff;
    text-align: left;
    display: table;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
    box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
    border: 2px solid #ddd;
    transform: translateY(30px);
    left: -99999px;
}
#menu-box .nav .sub-menu:not(.mega-menu){
    min-width: auto;
    max-width: 260px;
}
#menu-box .nav .menu-item:hover .sub-menu{
    max-height: max-content;
    opacity: 1;
    transform: translateY(0);
    left: unset;
}
#menu-box .nav>.menu-item>.sub-menu .sub-menu {
    position: unset;
}
#menu-box .nav .sub-menu:not(.nav-dropdown){
    padding: 0;
    margin: 0;
}
#menu-box .nav .sub-menu.mega-menu>.menu-item{
display: table-cell;
}
#menu-box .nav .sub-menu .menu-item a{
    color: rgba(102,102,102,0.85);
    text-transform: unset;
    padding-left: 0;
    padding-right: 0;
    margin: 0 10px;
    border-bottom: 1px solid #ececec;
    font-weight: 400;
    transition: all .3s;
}
#menu-box .nav .sub-menu .menu-item a:hover{
    color: #000;

}
#menu-box .nav .sub-menu .menu-item:last-child a{
    border-bottom: none;
}
#menu-box .nav .sub-menu.mega-menu>.menu-item>a{
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}
#menu-box .nav .sub-menu.mega-menu .menu-item>.sub-menu.nav-column{
    min-width: auto;
    box-shadow: none;
    border: none;
}
#menu-box .nav .sub-menu.mega-menu .menu-item>.sub-menu.nav-column .menu-item{
    margin: 0;
}


/* slide-main */
#slide-main{}
#slide-main .owl-nav{
    margin: 0;
}
#slide-main .owl-nav .owl-prev span,
#slide-main .owl-nav .owl-next span{display: none;}
#slide-main .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}
#slide-main .owl-nav .owl-prev{
    left: 40px;
    transform: translateX(30px);
}
#slide-main .owl-nav .owl-next{
    right: 80px;
    transform: translateX(-30px);
}
#slide-main:hover .owl-nav button{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
#slide-main .owl-nav .owl-next::before,
#slide-main .owl-nav .owl-prev::before{
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 20px;
    padding-top: 1px;
}
#slide-main .owl-nav .owl-prev::before{
    content: '\f053';
    padding-right: 1px;
}
#slide-main .owl-nav .owl-next::before{
    content: '\f054';
    padding-left: 1px;
}
#slide-main .owl-dots{
    position: absolute;
    bottom: 15px;
    left: 20%;
    right: 20%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
#slide-main .owl-dots .owl-dot{}
#slide-main .owl-dots .owl-dot span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border: 3px solid #FFF;
    border-radius: 50%;
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    background-color: transparent;
}
#slide-main .owl-dots .owl-dot.active span{
    background-color: #FFF;
    opacity: 1;
}
#slide-main .item{
    display: block;
    width: 100%;
}
#slide-main .item a{
    display: block;
    width: 100%;
}
#slide-main .item img{
    width: 100%;
}


/* content-top */
#content-top{}
#content-top .wrap-content-top{
    margin-top: 30px;
    padding-bottom: 30px;
}
#content-top .wrap-content-top p{
    font-size: 16px;
    margin-bottom: 20px;
}
#content-top .wrap-content-top p.slogan{
    font-size: 20px;
    text-align: center;
}

.wrap-list-service-top{}
.wrap-list-service-top .item{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(248, 0, 0);
    color: #FFFFFF;
    padding: 10px 0;
    margin-top: 26px;
    height: 80px;
}
.wrap-list-service-top .item img{
    margin: 7px 10px;
}
.wrap-list-service-top .item span{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}


/* list-product */
#list-product{
    padding: 30px 0;
}
.box-title{
    color: #000000;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.box-title .title{
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-weight: 700;
}
.box-title p{
    font-size: 18px;
}
.box-title::before{
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 120px;
    left: calc(50% - 60px);
    bottom: 0;
    background: #E70000;
}

.list-item-product{padding-top: 30px;}
.item-product .box-main-image .box-image a{
    display: block
}
.item-product .box-main-image .box-image img{
    max-width: 370px;
    width: 100%;
    transition: all .3s;
}
.item-product .box-main-image .box-text{
    padding: 0 0 0 25px;
}
.item-product .box-main-image .name-product{margin: 0;}
.item-product .box-main-image .name-product a{
    font-size: 24px;
    color: #d21f1f;
    font-weight: 700;
    display: block;
}
.item-product .btn-view-cat{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #898989;
    margin-bottom: 16px;
    padding: 7px 10px;
    transition: all .3s;
    margin-top: 2px;
}
.item-product .btn-view-cat span{
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 700;
}
.item-product .btn-view-cat i{
    color: #FFF;
    margin-left: 8px;
}
.item-product:hover .btn-view-cat{
    background-color: #b20000;
    transition: all .3s;
}
.item-product:hover .box-main-image .box-image img{
    transform: scale(1.1);
    transition: all .3s;
}
.row.list-item-product>[class*="col-"]{
    padding-bottom: 30px;
}

/* wrap-maintenance */
/* wrap-maintenance */
#wrap-maintenance{
    margin-bottom: 60px;
}
#wrap-maintenance .list-maintenance.row>[class*="col-"]{
    padding: 0;
}
#wrap-maintenance .list-maintenance .item-service.content{
    background-color: rgb(210, 31, 31);
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#wrap-maintenance .list-maintenance .item-service.content.bg-black{
    background-color: rgb(26, 26, 26);
}
.list-maintenance .item-service.content a{
    font-size: 24px;
    color: #ffffff;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 10px;
}
.list-maintenance .item-service.content p{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.25;
    
}
#wrap-maintenance .list-maintenance .item-service.box-image{
    overflow: hidden;
}
#wrap-maintenance .list-maintenance .item-service img{
    width: 100%;
    max-height: 390px;
    transition: all .3s;
}
#wrap-maintenance .list-maintenance .item-service:hover img{
    transform: scale(1.1);
}
/* wrap-maintenance */

/* wrap-blog */
#wrap-blog{
    position: relative;
    background-image: url(/images/bg-blog.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 45px;
}
#wrap-blog>.container>.row>.col-lg-6{
    padding-bottom: 30px;
}
#wrap-blog .wrap-slide-bolg{
    position: relative;
}
#wrap-blog .wrap-slide-bolg .item{
    display: block;
}
#wrap-blog .wrap-slide-bolg .item .box-image{
    height: 555px;
    overflow: hidden;
}
#wrap-blog .wrap-slide-bolg .item .box-image img{
    height: 100%;
    transition: all .3s;
}
#wrap-blog .wrap-slide-bolg .item .box-image:hover img{
    transform: scale(1.1);
}
#wrap-blog .wrap-slide-bolg .item .title-slide{
    position: absolute;
    bottom: 0;
    font-size: 1.3em;
    padding:10px 20px 35px;
    color: #FFF;
    left: 0;
    width: 100%;
    text-align: center;
}

#wrap-blog .owl-nav .owl-prev span,
#wrap-blog .owl-nav .owl-next span{display: none;}
#wrap-blog .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}
#wrap-blog .owl-nav .owl-prev{
    left: 0px;
    transform: translateX(30px);
}
#wrap-blog .owl-nav .owl-next{
    right: 40px;
    transform: translateX(-30px);
}
#wrap-blog .wrap-slide-bolg:hover .owl-nav button{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
#wrap-blog .owl-nav .owl-next::before,
#wrap-blog .owl-nav .owl-prev::before{
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #000;
    font-size: 24px;
    padding-top: 1px;
}
#wrap-blog .owl-nav .owl-prev::before{
    content: '\f053';
    padding-right: 1px;
}
#wrap-blog .owl-nav .owl-next::before{
    content: '\f054';
    padding-left: 1px;
}
#wrap-blog .owl-dots{
    position: absolute;
    bottom: 15px;
    left: 20%;
    right: 20%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
#wrap-blog .owl-dots .owl-dot span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border: 3px solid #FFF;
    border-radius: 50%;
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    background-color: #FFFFFF;
}
#wrap-blog .owl-dots .owl-dot.active span{
    background-color: #FFF;
    opacity: 1;
}
.list-blog-child{
    margin-left: -10px;
    margin-right: -10px;
}
.list-blog-child [class*="col-"]{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
.list-blog-child .item-blog{
    width: 100%;
    text-align: center;
}
.list-blog-child .item-blog .box-image{
    height: 200px;
    overflow: hidden;
}
.list-blog-child .item-blog .box-image img{
    height: 100%;
    width: 100%;
    transition: all .3s;
}
.list-blog-child .item-blog .box-image:hover img{
    transition: all .3s;
    transform: scale(1.1);
}
.list-blog-child .item-blog .title{
    padding: 10px 10px 20px;
    min-height: 2.6em;
    font-size: 16px;
    line-height: 1.3;
    margin: 1.5px 0;
    color: #333;
    font-weight: 700;
    transition: all .3s;
}
.list-blog-child .item-blog:hover .title{
    color: #E70000;
}

/* footer */
/* footer */
/* footer */
/* wrap-website */
#wrap-website{
    background-color: #181818;
    padding-top: 30px;
}
#wrap-website .box-title{
    margin-bottom: 24px;
}
#wrap-website .box-title::before{display: none;}
#wrap-website .box-title .title{
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 44px;
    text-transform: uppercase;
    color: #EC1B2F;
    margin: 0;
}
#wrap-website .box-title p{
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    color: #FFFFFF;
}

.item-website .title{
    font-size: 16px;
    line-height: 1.05;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #F1F1F1;
    margin-bottom: 25px;
    font-weight: 600;
}
.item-website .list-product-child-last .item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}
.item-website .list-product-child-last .item .box-image{
    padding: 7px 7px 7px 0;
}
.item-website .list-product-child-last .item .box-image img{
    min-width: 81px;
    width: 81px;
    height: 46px;
    margin: 0 8px;
}
.item-website .list-product-child-last .item .title-p{
    font-size: 14px;
    color: #FFF;
    padding-left: 7px;
    font-weight: 400;
    transition: all .3s;
}
.item-website .list-product-child-last .item:hover .title-p{
    color: #EC1B2F;
}
.item-website .list-blog-child-item .item{
    margin: 0 0 24px 18px;
    border: none;
}
.item-website .list-blog-child-item .item .box-image{
    padding-top: 0;
    padding-bottom: 0;
}
.item-website .list-blog-child-item .item .box-image img{
    min-width: 50px;
    width: 50px;
    height: 50px;
    margin: 5px 12px 12px 0;
}
.item-website .list-blog-child-item .item .title-p{
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.list-info-serice{padding-top: 30px;}


.footer-last{
    padding: 10px 0 15px;
    background-color: #dfdfdf;

}
.wrap-logo-footer{
    display: flex;
    align-items: center;
}
.wrap-logo-footer .logo{
    padding: 0 15px 30px;
}
.wrap-logo-footer .logo img{
    max-width: 149px;
    height: 90px;
}
.wrap-logo-footer .info-ser{
    padding: 0 15px 30px;
}
.wrap-logo-footer .info-ser *{
    font-size: 14px;
}
.footer-last .social-icons{
    padding: 7.5px 0;
    text-align: right;
}


/* footer */

@keyframes animationFrames{
    0% {
      transform:  rotate(0deg) ;
    }
    13% {
      transform:  rotate(45deg) ;
    }
    25% {
      transform:  rotate(0deg) ;
    }
    37% {
      transform:  rotate(-45deg) ;
    }
    50% {
      transform:  rotate(0deg) ;
    }
    50% {
      transform:  rotate(2deg) ;
    }
    50% {
      transform:  rotate(2deg) ;
    }
    62% {
      transform:  rotate(45deg) ;
    }
    75% {
    }
    100% {
      transform:  rotate(0deg) ;
    }
  }
  

ul.popup-contact{
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-align: right;
    z-index: 10000;
}
ul.popup-contact li{
    list-style: none;
    margin-bottom: 9px;
}
ul.popup-contact li a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
ul.popup-contact li strong{
    background: #FFD057;
    border-radius: 15px;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 14px;
    color: #555;
}
  
ul.popup-contact li img{
    height: 36px;
    width: auto;
}
ul.popup-contact li img.support{
    border-radius: 100%;
}
  
ul.popup-contact li.red strong{
    background: #E70000;
    color: #eee;
}
  
ul.popup-contact li.red .phone-icon{
    width: 40px;
    height: 40px;
    background-color:#E70000 ;
    border-radius: 100%;display: flex;
    align-items: center;
    justify-content: center;
}
ul.popup-contact li.red i{
    color: #FFF;
    font-size: 20px;
    animation: animationFrames linear 1.2s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    border-radius: 30px;
}
ul.popup-contact li.red:hover strong{
    color: #fff;
}



/* detail product  */
/* detail product  */
/* detail product  */
.wrap-image-product{
    padding: 40px 0;
}
.wrap-image-product #slide-item-product-detail{
    margin: 0;
}
.wrap-image-product #slide-item-product-detail .item{
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    text-indent: 0;
    opacity: 1;
}
.wrap-image-product #slide-item-product-detail .item img{
    width: 100%;
    /* max-height: 70px; */
}
.wrap-image-product #slide-item-product-detail .owl-dots {display: none;}
.wrap-image-product #slide-item-product-detail .owl-nav{margin: 0;}
.wrap-image-product #slide-item-product-detail .owl-nav{}

.wrap-image-product #slide-item-product-detail .owl-nav .owl-prev span,
.wrap-image-product #slide-item-product-detail .owl-nav .owl-next span{display: none;}
.wrap-image-product #slide-item-product-detail .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%)!important;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    margin-top: -19px;
}
.wrap-image-product #slide-item-product-detail .owl-nav .owl-prev{
    left: 20px;
    transform: translateX(30px);
}
.wrap-image-product #slide-item-product-detail .owl-nav .owl-next{
    right: 50px;
    transform: translateX(-30px);
}
.wrap-image-product #slide-item-product-detail:hover .owl-nav button{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.wrap-image-product #slide-item-product-detail .owl-nav .owl-next::before,
.wrap-image-product #slide-item-product-detail .owl-nav .owl-prev::before{
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 20px;
    padding-top: 1px;
}
.wrap-image-product #slide-item-product-detail .owl-nav .owl-prev::before{
    content: '\f053';
    padding-right: 1px;
}
.wrap-image-product #slide-item-product-detail .owl-nav .owl-next::before{
    content: '\f054';
    padding-left: 1px;
}

.wrap-image-product .control-button{
    top: calc((100% - 80px) / 2);
    width: auto;
    bottom: auto;
    transition: all .3s;
    opacity: 0;
}
.wrap-image-product .control-button.carousel-control-prev{
    left: 20px;
    transform: translateX(20px);
}
.wrap-image-product .control-button.carousel-control-next{
    right: 20px;
    transform: translateX(-20px);
}
.wrap-image-product .carousel:hover .control-button.carousel-control-prev,
.wrap-image-product .carousel:hover .control-button.carousel-control-next{
    transform: translateX(0);
    opacity: 1;
}
.wrap-image-product .control-button i{
    font-size: 24px;
    color: #111;
    transition: all .3s;

}
.wrap-image-product .control-button i:hover{
    color: #d21f1f;
}
.wrap-image-product .carousel-inner .item-expand{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #555;
    cursor: pointer;
    transition: all .3s;
}
.wrap-image-product .carousel-inner .item-expand i{
    transition: all .3s;
    color: #555;
    font-size: 18px;
}
.wrap-image-product .carousel-inner .item-expand:hover{
    background-color: #d21f1f;
    border-color: #d21f1f;
}
.wrap-image-product .carousel-inner .item-expand:hover i{
    color: #FFF;
}
/* detail product  */
/* detail product  */
/* detail product  */

/* breadcrumbs */
.breadcrumb{
    padding: 0;
    margin-bottom: 5px;
    background-color: transparent;
}
.breadcrumb .breadcrumb-item{
    line-height: 1;
    display: flex;
    align-items: center;
}
.breadcrumb .breadcrumb-item * {
    color: rgba(102,102,102,0.7);
    font-weight: 400;
    font-size: 14px;
}
.breadcrumb .breadcrumb-item.active{
    color: rgba(102,102,102,0.7);
    font-size: 14px;
}
.detail-content{}
.detail-content .name-product{
    font-size: 1.7em;
    font-weight: 700;
    color: #333;
    margin-bottom: 13px;
}
.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,0.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}
.detail-content .price{
    white-space: nowrap;
    color: #111;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    margin: 12px 0;
    line-height: 1;
}
.detail-content .price div{
    font-weight: 600;
    padding-right: 2px;
    font-size: 1.1em;
    line-height: 1;
}
.detail-content .price span{
    font-size: 0.55em;
    font-weight: 600;
    padding-right: 3px;
    line-height: 1;
}

#choosee-option{
    margin-top: 20px;
}
#choosee-option .version-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
#choosee-option .version-option p{
    font-size: 0.9em;
    font-weight: 700;
    color: #222;
    margin: 5px 0;
    font-size: 13px;
}
#choosee-option .version-option select{
    margin: 5px 0;
    width: 100%;
    max-width: 260px;
    padding: 0 20px 0 10px;
    height: 35px;
    font-size: 13px;
}
#choosee-option{}


/* count number  */
.number-product-chossee{
    display: flex;
    align-items: center;
    padding: 18px 0 20px;
    justify-content: space-between;
}
.number-product-chossee .box-number{
    border:1px solid #B1B5C3;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 40px;
    color: #383838
}

.number-product-chossee .box-number input{
    border:none;
    width: 40px;
    height: 40px;
    border: 1px solid #B1B5C3;
    text-align: center;
    font-family: var(--font-600);
}
.number-product-chossee .box-number span{
    display: flex;
    align-items: center;
    height: 100%;
    width: 21px;
    justify-content: center;
    font-family: var(--font-600);
    cursor: pointer;
    transition: all .3s;
}
.number-product-chossee .box-number span:not(.remove-minus):hover{
    color: var(--color-main);
}
.number-product-chossee .box-number span.remove-minus{
    cursor: not-allowed;
    opacity: .7;
}
.number-product-chossee .add-cart{
    border:1px solid #d26e4b;
    color: #FFF;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 6px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #d26e4b;
    text-transform: uppercase;
    font-weight: bold;

}
.number-product-chossee .add-cart img{
    min-width: max-content;
    margin-right: 3px;
}
.number-product-chossee .add-cart:hover{
    color: var(--color-main);
    border-color: var(--color-main);
}
.number-product-chossee .add-cart:hover *{
    color: var(--color-main);
}

.product_meta{
    margin-top: 20px;
    margin-bottom: 16px;
}
.product_meta>span {
    font-size: 12px;
    display: block;
    border-top: 1px dotted #ddd;
    padding: 5px 0;
}
.product_meta a{
    color: #555555;
    transition: all .3s;
}
.product_meta a:hover{
    color: red;
}

.title-cort{
    font-size: 1.25em;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
}
.detail-main-product{
    font-size: 16px;
}
.checkblue{width: 20px;}

.detail-main-product p{
    margin-bottom: 20px;
}
.detail-main-product h2{
    font-size: 24px;
}
.detail-main-product h3{
    font-size: 22px;
}
.detail-main-product table{width: 100%;}
.detail-main-product table td{
    padding: 8px;
}
.detail-main-product table img{
    /* max-width: max-content; */
}
.list-product-detail-color td{
    border-bottom: 1px solid #ececec;
}

/* rateting-main */
.rateting-main{
    padding-top: 40px;
    padding-bottom: 40px;
}
.rateting-main h2.title{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
}

.tab-rate .nav-item.nav-link{
    border-top: 2px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: rgba(0,0,0,0.04);
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
    color: rgba(102,102,102,0.85);
    margin-right: 1.5px;
    border-radius: 0;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tab-rate .nav-item.nav-link.active{
    color: rgba(17,17,17,0.85);
}

.rateting-main .tab-content{
    border: 1px solid #dee2e6;
    padding: 10px;
    margin-bottom: 50px;
}

.wrap-video{
    position: relative;
    margin-bottom: 30px;
}
.wrap-video .title{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}
.wrap-video iframe{}
.wrap-video .item-video-list{
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 332px;
    background-position: 50% 50%;
    background-size: cover;
}
.wrap-video iframe{
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    -o-object-fit: cover;
    object-fit: cover;
}



.slide-product-same{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ececec;
    margin-bottom: 40px;
}
.slide-product-same .title-same{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}
.slide-product-same .item{
    position: relative;
}
.slide-product-same .product-small{
    position: relative;
}
.slide-product-same .onsale{
    position: absolute;
    top: 20px;
    left: 10px;
    font-weight: 700;
    color: #FFF;
    background-color: #d21f1f;
    padding: 10px 4px;
    border-radius: 20px;
    z-index: 1;
}
.slide-product-same .product-small .box-image{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.slide-product-same .product-small .box-image a{display: block; width: 100%;}
.slide-product-same .product-small .box-image>a>img{width: 100%;}
.slide-product-same .product-small .quick-view{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #d21f1f;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    color: #FFF;
    transform: translateY(34px);
    transition: all .3s;
}
.slide-product-same .product-small:hover .quick-view{
    transform: translateY(0);
}
.slide-product-same .product-small .box-text{
    padding: 10px 0 20px;
}
.slide-product-same .product-small .box-text .category{
    font-size: 10px;
    text-transform: uppercase;
    margin: 1px 0;
    letter-spacing: 0.5px;
}
.slide-product-same .product-small .box-text .product-title{
    font-size: 16px;
    color: #555555;
}
.slide-product-same .product-small .price-wrapper .price *{
    font-weight: 700;
}

.slide-product-same .owl-nav .owl-prev span,
.slide-product-same .owl-nav .owl-next span{display: none;}
.slide-product-same .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}
.slide-product-same .owl-nav .owl-prev{
    left: 10px;
    transform: translateX(10px);
}
.slide-product-same .owl-nav .owl-next{
    right: 45px;
    transform: translateX(-10px);
}
.slide-product-same:hover .owl-nav button{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.slide-product-same .owl-nav .owl-next::before,
.slide-product-same .owl-nav .owl-prev::before{
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #555;
    color: #555;
    font-size: 20px;
    padding-top: 1px;
}
.slide-product-same .owl-nav .owl-prev::before{
    content: '\f053';
    padding-right: 1px;
}
.slide-product-same .owl-nav .owl-next::before{
    content: '\f054';
    padding-left: 1px;
}
.slide-product-same .owl-dots{display: none;}

.bottom-contact{display: none;}

.mm-page.mm-slideout{
    z-index: 41;
}